<nz-layout class="left-layout" [ngClass]="{'resize':isMouseDown}" (mousemove)="mouseMove($event)"
  (mouseup)="mouseUp($event)">
  <nz-sider class="sider" nzTheme="light" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzCollapsedWidth]="0"
    [nzZeroTrigger]="zeroTrigger" [nzWidth]="siderWidth+'px'">
    <ul class="control-list" cdkDropList nz-menu [nzTheme]="'light'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
      <li *ngFor="let item of nzControls" nz-submenu>
        <span title><i nz-icon type="user"></i><span class="nav-text">{{item.group}}</span></span>
        <ul>
          <li *ngFor="let control of item.controls" draggable="true" nz-popover nzPlacement="rightBottom" nzTitle="控件示例："
            [nzContent]="popTemplate" nz-menu-item nzTrigger="click" (click)="controlClick(control)" (dragstart)="dragStart($event,control)">{{control}}</li>
        </ul>
      </li>
    </ul>
    <div *ngIf="!isCollapsed" class="sider-title">控件</div>
  </nz-sider>
  <div class="list-dragger" (mousedown)="mouseDown($event)"></div>
  <nz-layout class="right-layout">
    <nz-header style="background: #fff; padding-left:10px;font-size: large;">设计器</nz-header>
    <nz-content>
      <nz-tabset class="tabSet" nzSize="small" [nzTabBarExtraContent]="extraTabTemplate">
        <nz-tab nzTitle="界面">
          <app-design-panel></app-design-panel>
        </nz-tab>
        <nz-tab nzTitle="代码">
          <app-code-page tabType="code" [editorOptions]="editorOptionsForCode"></app-code-page>
        </nz-tab>
        <nz-tab nzTitle="样式">
          <app-code-page tabType="style" [editorOptions]="editorOptionsForCss"></app-code-page>
        </nz-tab>
        <nz-tab nzTitle="服务">
          <app-code-page tabType="service" [editorOptions]="editorOptionsForCode"></app-code-page>
        </nz-tab>
      </nz-tabset>
      <ng-template #extraTabTemplate>
        <nz-select class="themeSelector" nzShowSearch nzPlaceHolder="theme" [(ngModel)]="editorTheme" (ngModelChange)="themeChange()">
          <nz-option nzLabel="vscode深色主题" nzValue="vs-dark"></nz-option>
          <nz-option nzLabel="vscode浅色主题" nzValue="vs"></nz-option>
          <nz-option nzLabel="高对比度主题" nzValue="hc-black"></nz-option>
      </nz-select>
      </ng-template>
    </nz-content>
    <nz-footer style="text-align: center;">Elegant Designer ©2019 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
<ng-template #zeroTrigger>
  <i class="sider-button" [ngClass]="{'opened': !isCollapsed,'closed': isCollapsed}" nz-icon nzType="right"
    nzTheme="outline"></i>
</ng-template>
<!-- <app-pop-content class="pop-content" [style.top.px]="topPosition" [style.left.px]="siderWidth" *ngIf="clicked"></app-pop-content> -->

<!--列表控件弹出示例模板-->
<ng-template #popTemplate>
  <div [ngSwitch]="selectControl">
    <img *ngSwitchCase="'Layout布局'" class="pop-layout" src="..\..\assets\layout.png">

    <div *ngSwitchCase="'Grid栅格'">
      <div nz-row>
        <div class="popGrid" nz-col nzSpan="12">col-12</div>
        <div class="popGrid" nz-col nzSpan="12">col-12</div>
      </div>
      <div nz-row>
        <div class="popGrid" nz-col nzSpan="8">col-8</div>
        <div class="popGrid" nz-col nzSpan="8">col-8</div>
        <div class="popGrid" nz-col nzSpan="8">col-8</div>
      </div>
      <div nz-row>
        <div class="popGrid" nz-col nzSpan="6">col-6</div>
        <div class="popGrid" nz-col nzSpan="6">col-6</div>
        <div class="popGrid" nz-col nzSpan="6">col-6</div>
        <div class="popGrid" nz-col nzSpan="6">col-6</div>
      </div>
    </div>

    <label *ngSwitchCase="'Checkbox多选框'" nz-checkbox>checkbox</label>
    <button *ngSwitchCase="'Button按钮'" nz-button>按钮</button>

    <div *ngSwitchCase="'Icon图标'">
      <i nz-icon class="pop-icon" nzType="clock-circle" nzTheme="outline"></i>
      <i nz-icon class="pop-icon" nzType="question-circle" nzTheme="outline"></i>
      <i nz-icon class="pop-icon" nzType="close-circle" nzTheme="outline"></i>
      <i nz-icon class="pop-icon" nzType="bar-chart" nzTheme="outline"></i>
      <i nz-icon class="pop-icon" nzType="edit" nzTheme="outline"></i>
    </div>

    <div class="scrollable-container" #target *ngSwitchCase="'Affix固钉'">
      <div class="background">
        <nz-affix [nzTarget]="target" id="affix-container-target">
          <button nz-button [nzType]="'primary'">
            <span>固钉</span>
          </button>
        </nz-affix>
      </div>
    </div>

    <nz-breadcrumb *ngSwitchCase="'Breadcrumb面包屑'">
      <nz-breadcrumb-item>
        Home
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a>Application List</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        An Application
      </nz-breadcrumb-item>
    </nz-breadcrumb>

    <nz-dropdown *ngSwitchCase="'Dropdown下拉菜单'">
      <a nz-dropdown> Hover me <i nz-icon type="down"></i> </a>
      <ul nz-menu>
        <li nz-menu-item>
          <a>菜单项1</a>
        </li>
        <li nz-menu-item>
          <a>菜单项2</a>
        </li>
        <li nz-menu-divider></li>
        <li nz-menu-item nzDisabled>菜单项3（disabled）</li>
      </ul>
    </nz-dropdown>

    <ul *ngSwitchCase="'Menu导航菜单'" class="pop-menu" nz-menu [nzMode]="'inline'" style="width: 240px;">
      <li nz-submenu>
        <span title><i nz-icon type="mail"></i> Navigation One</span>
        <ul>
          <li nz-menu-group>
            <span title>Item 1</span>
            <ul>
              <li nz-menu-item>Option 1</li>
              <li nz-menu-item>Option 2</li>
            </ul>
          </li>
          <li nz-menu-group>
            <span title>Item 2</span>
            <ul>
              <li nz-menu-item>Option 3</li>
              <li nz-menu-item>Option 4</li>
            </ul>
          </li>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i nz-icon type="appstore"></i> Navigation Two</span>
        <ul>
          <li nz-menu-item>Option 5</li>
          <li nz-menu-item>Option 6</li>
          <li nz-submenu>
            <span title>Submenu</span>
            <ul>
              <li nz-menu-item>Option 7</li>
              <li nz-menu-item>Option 8</li>
              <li nz-submenu>
                <span title>Submenu</span>
                <ul>
                  <li nz-menu-item>Option 9</li>
                  <li nz-menu-item>Option 10</li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>

    <nz-page-header *ngSwitchCase="'PageHeader页头'" nzBackIcon nzTitle="Title" nzSubtitle="This is a subtitle">
    </nz-page-header>

    <nz-pagination *ngSwitchCase="'Pagination分页'" [nzPageIndex]="1" [nzTotal]="50"></nz-pagination>

    <nz-steps *ngSwitchCase="'Steps步骤条'" nzCurrent="2" nzSize="small">
      <nz-step nzTitle="Finished"></nz-step>
      <nz-step nzTitle="In Progress"></nz-step>
      <nz-step nzTitle="Waiting"></nz-step>
    </nz-steps>

    <div *ngSwitchCase="'Avatar头像'">
      <nz-avatar class="pop-avatar" nzIcon="user"></nz-avatar>
      <nz-avatar class="pop-avatar" nzText="U"></nz-avatar>
      <nz-avatar class="pop-avatar" nzText="USER"></nz-avatar>
      <nz-avatar class="pop-avatar" nzIcon="user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png">
      </nz-avatar>
      <nz-badge class="pop-avatar" nzDot>
        <nz-avatar nzText="U" style="color:#f56a00; background-color:#fde3cf;"></nz-avatar>
      </nz-badge>
      <nz-badge class="pop-avatar" [nzCount]="5">
        <nz-avatar nzIcon="user" style="background-color:#87d068;"></nz-avatar>
      </nz-badge>
    </div>

    <div *ngSwitchCase="'Badge徽标数'">
      <nz-badge class="pop-badge" [nzCount]="25"></nz-badge>
      <nz-badge class="pop-badge" [nzCount]="4"
        [nzStyle]="{ backgroundColor: '#fff', color: '#999', boxShadow: '0 0 0 1px #d9d9d9 inset' }"></nz-badge>
      <nz-badge class="pop-badge" [nzCount]="109" [nzStyle]="{ backgroundColor: '#52c41a' }"></nz-badge>
      <nz-badge class="pop-badge" nzStatus="success"></nz-badge>
      <nz-badge class="pop-badge" nzStatus="error"></nz-badge>
      <nz-badge class="pop-badge" nzStatus="default"></nz-badge>
      <nz-badge class="pop-badge" nzStatus="processing"></nz-badge>
      <nz-badge class="pop-badge" nzStatus="warning"></nz-badge>
    </div>

    <div *ngSwitchCase="'Calendar日历'" [ngStyle]="{ width: '300px', border: '1px solid #d9d9d9', borderRadius: '4px' }">
      <nz-calendar [nzFullscreen]="false"></nz-calendar>
    </div>

    <div *ngSwitchCase="'Card卡片'">
      <nz-card style="width:200px;" nzTitle="Card title" [nzExtra]="extraTemplate">
        <p>Card content</p>
        <p>Card content</p>
        <p>Card content</p>
      </nz-card>
      <ng-template #extraTemplate>
        <a>More</a>
      </ng-template>
    </div>

    <nz-carousel *ngSwitchCase="'Carousel走马灯'" [nzEffect]="effect">
      <div nz-carousel-content class="popCarousel" *ngFor="let index of popCarouselSampleArray">
        <h3>{{index}}</h3>
      </div>
    </nz-carousel>

    <nz-collapse *ngSwitchCase="'Collapse折叠面板'">
      <nz-collapse-panel [nzHeader]="'panel header 1'" [nzActive]="'true'" [nzDisabled]="'false'">
        <p style="margin:0;">
          A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome
          guest in many households across the world.
        </p>
      </nz-collapse-panel>
      <nz-collapse-panel [nzHeader]="'panel header 2'" [nzActive]="'true'" [nzDisabled]="'false'">
        <p style="margin:0;">
          A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome
          guest in many households across the world.
        </p>
      </nz-collapse-panel>
      <nz-collapse-panel [nzHeader]="'panel header 3'" [nzActive]="'false'" [nzDisabled]="'true'">
        <p style="margin:0;">
          A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome
          guest in many households across the world.
        </p>
      </nz-collapse-panel>
    </nz-collapse>

    <div *ngSwitchCase="'Comment评论'" style="width: 400px;">
      <nz-comment nzAuthor="Han Solo" [nzDatetime]="time">
        <nz-avatar nz-comment-avatar nzIcon="user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png">
        </nz-avatar>
        <nz-comment-content>
          <p>
            We supply a series of design principles, practical patterns and high quality design resources (Sketch and
            Axure), to help people create their product prototypes beautifully and efficiently.
          </p>
        </nz-comment-content>
        <nz-comment-action>
          <i nz-tooltip nzTitle="Like" nz-icon type="like" [theme]="'twotone'"></i>
          <span class="count like">1</span>
        </nz-comment-action>
        <nz-comment-action>
          <i nz-tooltip nzTitle="Dislike" nz-icon type="dislike" [theme]="'outline'"></i>
          <span class="count dislike">0</span>
        </nz-comment-action>
        <nz-comment-action>Reply to</nz-comment-action>
      </nz-comment>
    </div>

    <nz-descriptions *ngSwitchCase="'Descriptions描述列表'" nzTitle="User Info">
      <nz-descriptions-item nzTitle="UserName">ErGou</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Telephone">13799999999</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Live">Moon, Solar System</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Remark">Remark</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Address">
        No. 18 MoonBase,Moon Solar System
      </nz-descriptions-item>
    </nz-descriptions>

    <nz-empty *ngSwitchCase="'Empty空状态'"></nz-empty>

    <nz-list *ngSwitchCase="'List列表'" [nzDataSource]="popListSampleData" nzBordered nzSize="small" [nzHeader]="'Header'"
      [nzFooter]="'Footer'" [nzRenderItem]="item">
      <ng-template #item let-item>
        <nz-list-item [nzContent]="item"></nz-list-item>
      </ng-template>
    </nz-list>

    <button *ngSwitchCase="'Popover气泡卡片'" nz-button nz-popover nzType="primary" nzTitle="Title" nzContent="Content">
      悬停以显示气泡卡片
    </button>

    <div *ngSwitchCase="'Statistic统计'" style="width: 300px;">
      <nz-row [nzGutter]="16">
        <nz-col [nzSpan]="12">
          <nz-statistic [nzValue]="1949101 | number" [nzTitle]="'Active Users'"></nz-statistic>
        </nz-col>
        <nz-col [nzSpan]="12">
          <nz-statistic [nzValue]="2019.111 | number: '1.0-2'" [nzTitle]="'Account Balance (CNY)'"></nz-statistic>
        </nz-col>
      </nz-row>
    </div>

    <img *ngSwitchCase="'Table表格'" style="width: 400px;" src="../../assets/popTable.png" alt="">

    <nz-tabset *ngSwitchCase="'Tabs标签页'">
      <nz-tab nzTitle="Tab 1">
        Content of Tab Pane 1
      </nz-tab>
      <nz-tab nzTitle="Tab 2">
        Content of Tab Pane 2
      </nz-tab>
      <nz-tab nzTitle="Tab 3">
        Content of Tab Pane 3
      </nz-tab>
    </nz-tabset>

    <div *ngSwitchCase="'Tag标签'">
      <nz-tag>Tag 1</nz-tag>
      <nz-tag>
        <a href="">Link</a>
      </nz-tag>
      <nz-tag nzMode="closeable">closeable Tag 2</nz-tag>
      <nz-tag nzMode="closeable" [nzColor]="'red'">red Tag 3</nz-tag>
      <nz-tag nzMode="closeable" [nzColor]="'#2db7f5'">#2db7f5 Tag 4</nz-tag>
      <nz-tag nzMode="checkable" [nzChecked]="true">checkable Tag 5</nz-tag>
    </div>

    <nz-timeline *ngSwitchCase="'Timeline时间轴'">
      <nz-timeline-item>event1 2019-09-01</nz-timeline-item>
      <nz-timeline-item>event2 2019-10-01</nz-timeline-item>
      <nz-timeline-item>event3 2019-11-01</nz-timeline-item>
      <nz-timeline-item>event4 2019-12-01</nz-timeline-item>
    </nz-timeline>

    <button *ngSwitchCase="'Tooltip文字提示'" nz-button nzTitle="text" nzPlacement="top" nz-tooltip>
      悬停以显示tooltip
    </button>

    <img *ngSwitchCase="'Tree树形控件'" style="width: 400px;" src="../../assets/popTree.png" alt="">

    <div *ngSwitchCase="'Alert警告'">
      <nz-alert class="popAlert" nzType="success" nzMessage="Success Text"></nz-alert>
      <nz-alert class="popAlert" nzType="success" nzBanner="true" nzMessage="Success Text"></nz-alert>
      <nz-alert class="popAlert" nzType="info" nzDescription="Descriptions" nzMessage="Info Text"></nz-alert>
      <nz-alert class="popAlert" nzType="warning" nzCloseable nzMessage="Warning Text"></nz-alert>
      <nz-alert class="popAlert" nzType="error" nzShowIcon nzMessage="Error Text"></nz-alert>
    </div>

    <div *ngSwitchCase="'Drawer抽屉'">
      <button nz-button nzType="primary" (click)="openPopDrawer()">Open</button>
      <nz-drawer [nzClosable]="false" [nzVisible]="popDrawerVisible" nzPlacement="right" nzTitle="Drawer"
        (nzOnClose)="openPopDrawer()">
        <p>Some contents...</p>
        <p>Some contents...</p>
        <p>Some contents...</p>
      </nz-drawer>
    </div>

    <div *ngSwitchCase="'Message全局提示'">
      <button nz-button class="popMessage" (click)="createMessage('success')">Success</button>
      <button nz-button class="popMessage" (click)="createMessage('error')">Error</button>
      <button nz-button class="popMessage" (click)="createMessage('warning')">Warning</button>
    </div>

    <div *ngSwitchCase="'Modal对话框'">
      <button nz-button [nzType]="'primary'" (click)="controlModal()"><span>Show Modal</span></button>
      <nz-modal [(nzVisible)]="popModalVisible" nzTitle="this is Modal" (nzOnCancel)="controlModal()"
        (nzOnOk)="controlModal()">
        <p>Content one</p>
        <p>Content two</p>
        <p>Content three</p>
      </nz-modal>
    </div>

    <div *ngSwitchCase="'Notification通知提醒框'">
      <button nz-button class="popNotification" (click)="createPopNotification('success')">Success</button>
      <button nz-button class="popNotification" (click)="createPopNotification('info')">Info</button>
      <button nz-button class="popNotification" (click)="createPopNotification('warning')">Warning</button>
      <button nz-button class="popNotification" (click)="createPopNotification('error')">Error</button>
    </div>

    <div *ngSwitchCase="'Popconfirm气泡确认框'">
      <a nz-popconfirm nzTitle="Are you sure?" [nzIcon]="iconTpl">Delete</a>
      <ng-template #iconTpl>
        <i nz-icon nzType="question-circle-o" style="color: red;"></i>
      </ng-template>
    </div>

    <div *ngSwitchCase="'Progress进度条'" style="width: 170px;">
      <nz-progress [nzPercent]="30" nzSize="small"></nz-progress>
      <nz-progress [nzPercent]="50" nzSize="small" nzStatus="active"></nz-progress>
      <nz-progress [nzPercent]="70" nzSize="small" nzStatus="exception"></nz-progress>
      <nz-progress [nzPercent]="100" nzSize="small"></nz-progress>
      <nz-progress [nzPercent]="50" nzSize="small" [nzShowInfo]="false"></nz-progress>
      <nz-progress [nzPercent]="75" nzType="circle" [nzWidth]="80"></nz-progress>
      <nz-progress [nzPercent]="70" nzType="circle" [nzWidth]="80" nzStatus="exception"></nz-progress>
      <nz-progress [nzPercent]="100" nzType="circle" [nzWidth]="80"></nz-progress>
      <nz-progress nzStrokeLinecap="square" nzType="dashboard" [nzWidth]="80" nzPercent="75"></nz-progress>
    </div>

    <nz-skeleton *ngSwitchCase="'Skeleton加载占位图'" [nzAvatar]="true" [nzParagraph]="{ rows: 4 }"></nz-skeleton>

    <div *ngSwitchCase="'Spin加载中'">
      <nz-spin class="popSpin" nzSimple [nzSize]="'small'"></nz-spin>
      <nz-spin class="popSpin" nzSimple></nz-spin>
      <nz-spin class="popSpin" nzSimple [nzSize]="'large'"></nz-spin>
      <ng-template #indicatorTemplate><i nz-icon type="loading" style="font-size: 24px;"></i> </ng-template>
      <nz-spin class="popSpin" nzSimple [nzIndicator]="indicatorTemplate"> </nz-spin>
    </div>

    <div *ngSwitchCase="'Divider分割线'">
      Text
      <nz-divider nzType="vertical"></nz-divider>
      <a href="#">Link</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a href="#">Link</a>
      <nz-divider></nz-divider>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nonne merninisti licere mihi ista probare, quae
        sunt a te dicta? Refert tamen, quo modo.
      </p>
      <nz-divider nzText="With Text"></nz-divider>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nonne merninisti licere mihi ista probare, quae
        sunt a te dicta? Refert tamen, quo modo.
      </p>
      <nz-divider nzText="Left Text" nzOrientation="left"></nz-divider>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nonne merninisti licere mihi ista probare, quae
        sunt a te dicta? Refert tamen, quo modo.
      </p>
      <nz-divider nzText="Right Text" nzOrientation="right"></nz-divider>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nonne merninisti licere mihi ista probare, quae
        sunt a te dicta? Refert tamen, quo modo.
      </p>
    </div>

    <div *ngSwitchDefault>无</div>
  </div>
</ng-template>