.emptyContainer{
    display:flex;
    align-items:center;
    height: 100%;
    justify-content: center;
}
::ng-deep *:focus{
    border-style: solid;
    border: 2px;
    border-color: black;
}
