.bottomButton{
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0px;
    width: 100%;
    background-color: white;
}
.confirmButton{
    margin-bottom: 5px;
    margin-top: 5px;
}
.form{
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}
::ng-deep .ant-drawer-wrapper-body{
    overflow: hidden !important;
}
::ng-deep .ant-drawer-body{
    height: 100%;
    padding:0px;
}
.settingDrawer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.header{
    width: 100%;
}
.ant-form{
    padding: 5px;
}
h2{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}
nz-divider{
    margin-top: 0px;
    margin-bottom: 0px;
}
input[nz-input]{
    line-height: 10;
}